.card {
  margin: 1rem auto;
  font-family: "Open Sans", sans-serif;
  height: 32rem;

}

.card-img-top {
  height: 12rem;

}

.card-title {
  font-size: 20px;

}

.card-text {
  font-size: 15px;

}

.btn.btn-primary {
  font-size: 13px;
  
}
