$black: #000000;
$blue: #14213d;
$orange: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

.splash {
  background: url("./road.jpg") bottom center no-repeat;
  background-size: cover;
  color: $white;
  margin-bottom: 0;
  overflow: hidden;
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  font-family: "Patua One", cursive;

  .lead {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $blue;
    opacity: 0.4;
    z-index: -1;
  }
}
