$blue: #14213d;

.aside-potholes-intro {
  height: 600px;
  overflow-y: scroll;
  border: 2px solid $blue;
  border-radius: 2%;
}

.aside-potholes-title {
  font-size: 2.2rem;
  font-family: "Patua One", cursive;
  font-weight: 700;
  color: $blue;
  margin-bottom: 0;
}

.container.aside-p-wrapper {
  padding-top: 0.8rem;
}

.aside-potholes-p {
  font-size: 1.2rem;
  font-weight: 600;
}
