$blue: #14213d;
$platinum: #e5e5e5;
$breakpoint-lg: 992px;

.container-fluid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $platinum;
}

.patched-iframe {
  width: 800px;
  height: 600px;
  padding: 0;
  margin: 0;
  border: 2px solid $blue;
  border-radius: 2%;
}

.imbed-map {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: $breakpoint-lg) {
  .service-bot-wrapper {
    padding-top: 3rem;
  }
}
