.card {
  margin: 1rem auto;
  min-height: 30rem;
}

.card-img-top {
  height: 12rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.btn.btn-primary {
  font-size: 1rem;
}
